@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  @apply max-w-full flex items-center justify-center h-screen mx-auto;
}

.movie-list {
  @apply flex items-center justify-center space-x-4;
}

.movie-item {
  @apply w-96 h-auto bg-white rounded-md flex flex-col items-center justify-start overflow-hidden shadow-2xl;
}

.movie-item-image-wrapper {
  @apply h-[520px] overflow-hidden w-full relative;
}

.movie-item-image {
  @apply object-cover object-center h-[600px];
}

.movie-item-content-wrapper {
  @apply h-56 p-4 flex flex-col items-start justify-start w-full;
}

.movie-item-title-wrapper {
  @apply h-16 shrink-0 w-full;
}

.movie-item-title {
  @apply text-2xl;
}

.movie-item-description-wrapper {
  @apply h-24 overflow-scroll flex-1;
}

.movie-item-description {
  @apply text-sm;
}

.movie-item-genres-wrapper {
  @apply flex items-center justify-start space-x-1;
}

.movie-item-genre-tag {
  @apply text-xs bg-indigo-500 text-white py-0.5 px-2 rounded-full;
}

.movie-item-rating-wrapper {
  @apply w-full flex items-center justify-start h-8 shrink-0;
}

.movie-item-rating-text {
  @apply text-xs mr-2 leading-7;
}

.movie-item-star-icon-wrapper {
  @apply items-center justify-start flex flex-1 space-x-1;
}

.movie-item-star-icon-button {
  @apply rounded-md disabled:cursor-not-allowed;
}

.movie-item-star-icon {
  @apply h-5 w-5;
}
.form-modal {
  @apply fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-900 bg-opacity-80;
}
form {
  @apply bg-gray-900 rounded-md p-4 w-1/2;
}
.form-group {
  @apply flex flex-col space-y-2;
}
.form-group label {
  @apply text-white text-sm;
}

.movie-item-actions-list-wrapper {
  @apply group-hover:flex shrink-0 hidden items-center justify-end space-x-2;
}

.movie-item-action-edit-button {
  @apply rounded-full bg-gray-200 p-3 text-gray-800 hover:text-white hover:bg-indigo-500;
}

.movie-item-action-remove-button {
  @apply rounded-full bg-gray-200 p-3 text-gray-800 hover:text-white hover:bg-red-500;
}

.flex-spacer {
  @apply w-full flex-1;
}
.button {
  @apply bg-gray-500 hover:bg-gray-400 p-2 rounded-md;
}

.button-primary {
  @apply bg-cyan-500 hover:bg-cyan-400 p-2 rounded-md text-white;
}

.button-disabled {
  @apply bg-gray-600 text-gray-400 cursor-not-allowed;
}
